* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #6db9d5;
}

.container {
  position: relative;
  width: 400px;
  height: 105px;
  background: #fff;
  padding: 28px 32px;
  overflow: hidden;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif;
  transition: 0.6s ease-out;
}

.search-bar {
  width: 100%;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input{
  color: #06283d;
  width: 80%;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 32px;
}

.search-bar input::placeholder{
  font-size: 20px;
  font-weight: 500;
  color:#06283d;
  text-transform: capitalize;
}

.search-bar button{
  cursor: pointer;
  width: 50px;
  height: 50px;
  color:#06283d;
  background: #c4e8f6;
  border-radius: 50%;
  font-size: 22px;
  transition: 0.4 ease;
}

.search-bar button:hover{
  color: #fff;
  background: #06283d;
}

.search-bar i{
  position: absolute;
  color: #06283d;
  font-size: 30px;
}

.weather-container {
  text-align: center;
}

.weather-container img{
  width: 60%;
  margin: 30px;
}

.weather-container .temp{
  position: relative;
  color: #06283d;
  font-size: 4em;
  font-weight: 800;
  margin-top: 30px;
  margin-left: -16px;
}

.weather-container .temperature span{
  position: absolute;
  margin-left: 4px;
  font-size: 1.5rem;
}

.weather-container .description{
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
}

.weather-details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weather-details .humidity, .weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.weather-details .humidty{
  padding-left: 20px;
  justify-content: flex-end;
}

.weather-details .wind{
  padding-left: 20px;
  justify-content: flex-end;
}


.weather-details i{
  color: #06283d;
  font-size: 26px;
  margin-right: 10px;
  margin-top: 6px;
}


.weather-details span{
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
}

.weather-details p{
  color: #06283d;
  font-size: 14px;
  font-weight: 500;
}

.location-error{
  width: 100%;
  text-align: center;
  margin-top: 50px;
  scale: 0;
  opacity: 0;
  display: none;
}

.location-error img{
  width: 70%;
}

.location-error p{
  color: #06283d;
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}

.weather-container, .weather-details{
  scale: 0;
  opacity: 0;
}

.fade-in{
  animation: .05s fadeIn forwards;
  animation-delay: 0.5s;
}

@keyframes fadeIn{
  to {
    scale:1;
    opacity: 1;
  }
}
